---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Gianmarco, a front-end software developer from Italy.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Typescript & JavaScript</li>
        <li>Next.js</li>
        <li>React.js</li>
        <li>Tailwind CSS</li>
        <li>Node.js</li>
        <li>Mongo DB</li>
        <li>Firebase</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about design, content-creation, video editing and traveling.
      A childhood hobby of mine is playing games, they're
      interesting softwares that ease up my mind.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
